<%- include('./components/head'); -%>

	<body>

		<%- include('./components/preloader'); -%>

			<div id="main-wrapper">
				<%- include('./components/nav'); -%>

					<%- include('./components/chatbox'); -%>
						<%- include('./components/header'); -%>


							<%- include('./components/sidebar'); -%>

								<div class="content-body">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xl-12 col-lg-12">
												<div class="row">
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-danger-light me-1">
																		<i
																			class="fa-brands fa-salesforce text-danger"></i>
																	</div>
																	<div class="ms-2">
																		<h4>
																			<%= totalBlog %>
																		</h4>
																		<p class="mb-0">Blog</p>
																	</div>
																</div>
																<a href="/panel/blog"><i
																		class="fa-solid fa-chevron-right text-danger"></i></a>
															</div>
														</div>
													</div>
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-primary-light me-1">
																		<i class="fa-solid fa-user text-primary"></i>
																	</div>
																	<div class="ms-2">
																		<h4>
																			<%= totalUser %>
																		</h4>
																		<p class="mb-0">Resume Users</p>
																	</div>
																</div>
																<a href="javascript:void(0)"><i
																		class="fa-solid fa-chevron-right text-primary"></i></a>
															</div>
														</div>
													</div>
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-info-light me-1">
																		<i class="fa-solid fa-box text-info"></i>
																	</div>
																	<div class="ms-2">
																		<h4>1,536k</h4>
																		<p class="mb-0">Products</p>
																	</div>
																</div>
																<a href="javascript:void(0)"><i
																		class="fa-solid fa-chevron-right text-info"></i></a>
															</div>
														</div>
													</div>
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-secondary-light me-1">
																		<i class="fa-solid fa-user text-secondary"></i>
																	</div>
																	<div class="ms-2">
																		<h4>
																			<%= totalPanelUsers %>
																		</h4>
																		<p class="mb-0">Panel Users</p>
																	</div>
																</div>
																<a href="/panel/users"><i
																		class="fa-solid fa-chevron-right text-secondary"></i></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="container-fluid">
										<div class="card  overflow-hidden">
											<div class="card-header border-0 pb-0 flex-wrap">
												<h4 class="heading mb-0">Google Analytics Dashboard</h4>
											</div>
											<div class="card-body custome-tooltip p-0">

												<div class="row bg-white ">
													<div class="col-lg-4">
														<canvas id="weeklyChart"></canvas>
													</div>
													<div class="col-lg-4">
														<canvas id="monthlyChart"></canvas>
													</div>
													<div class="col-lg-4">
														<canvas id="yearlyChart"></canvas>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="container-fluid">
										<div class="col-xl-12 col-lg-12">
											<div class="card overflow-hidden">
												<div class="card-header border-0 pb-0 flex-wrap">
													<h4 class="heading mb-0">Projects Overview</h4>
													<ul class="nav nav-pills mix-chart-tab" id="pills-tab"
														role="tablist">
														<li class="nav-item" role="presentation">
															<button class="nav-link active" data-series="week"
																id="pills-week-tab" data-bs-toggle="pill"
																data-bs-target="#pills-week" type="button" role="tab"
																aria-selected="true">Week</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="nav-link" data-series="month"
																id="pills-month-tab" data-bs-toggle="pill"
																data-bs-target="#pills-month" type="button" role="tab"
																aria-selected="false">Month</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="nav-link" data-series="year"
																id="pills-year-tab" data-bs-toggle="pill"
																data-bs-target="#pills-year" type="button" role="tab"
																aria-selected="false">Year</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="nav-link" data-series="all"
																id="pills-all-tab" data-bs-toggle="pill"
																data-bs-target="#pills-all" type="button" role="tab"
																aria-selected="false">All</button>
														</li>
													</ul>
												</div>
												<div class="card-body custome-tooltip p-0">
													<div id="overiewChart"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<%- include('./components/footer'); -%>
			</div>

			<%- include('./components/scripts'); -%>