<%- include('./components/head'); -%>

	<body>

		<%- include('./components/preloader'); -%>
			<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
			<div id="main-wrapper">
				<%- include('./components/nav'); -%>

					<%- include('./components/chatbox'); -%>
						<%- include('./components/header'); -%>


							<%- include('./components/sidebar'); -%>

								<div class="content-body">
									<div class="container-fluid">
										<div class="row">
											<div class="col-xl-12 col-lg-12">
												<div class="row">
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-danger-light me-1">
																		<i
																			class="fa-brands fa-salesforce text-danger"></i>
																	</div>
																	<div class="ms-2">
																		<h4>
																			<%= totalBlog %>
																		</h4>
																		<p class="mb-0">Blog</p>
																	</div>
																</div>
																<a href="/panel/blog"><i
																		class="fa-solid fa-chevron-right text-danger"></i></a>
															</div>
														</div>
													</div>
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-primary-light me-1">
																		<i class="fa-solid fa-user text-primary"></i>
																	</div>
																	<div class="ms-2">
																		<h4>
																			<%= totalUser %>
																		</h4>
																		<p class="mb-0">Resume Users</p>
																	</div>
																</div>
																<a href="/panel/resumelist"><i
																		class="fa-solid fa-chevron-right text-primary"></i></a>
															</div>
														</div>
													</div>
													<div class="col-xl-3 col-md-6 col-sm-12">
														<div class="card">
															<div
																class="card-body d-flex justify-content-between align-items-center">
																<div class="d-flex">
																	<div
																		class="icon-box icon-box-md bg-secondary-light me-1">
																		<i class="fa-solid fa-user text-secondary"></i>
																	</div>
																	<div class="ms-2">
																		<h4>
																			<%= totalPanelUsers %>
																		</h4>
																		<p class="mb-0">Panel Users</p>
																	</div>
																</div>
																<a href="/panel/users"><i
																		class="fa-solid fa-chevron-right text-secondary"></i></a>
															</div>
														</div>
													</div>
													<div class="col-xl-3 col-sm-6">
														<div class="card box-hover">
															<div class="card-body">
																<div class="d-flex align-items-center">
																	<div
																		class="icon-box icon-box-lg bg-purple-light rounded-circle">
																		<svg width="46" height="46" viewBox="0 0 46 46"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg">
																			<path fill-rule="evenodd"
																				clip-rule="evenodd"
																				d="M22.9717 41.0539C22.9717 41.0539 37.3567 36.6983 37.3567 24.6908C37.3567 12.6814 37.878 11.7439 36.723 10.5889C35.5699 9.43391 24.858 5.69891 22.9717 5.69891C21.0855 5.69891 10.3736 9.43391 9.21863 10.5889C8.0655 11.7439 8.58675 12.6814 8.58675 24.6908C8.58675 36.6983 22.9717 41.0539 22.9717 41.0539Z"
																				stroke="#BB6BD9" stroke-width="2"
																				stroke-linecap="round"
																				stroke-linejoin="round"></path>
																			<path d="M26.4945 26.4642L19.4482 19.4179"
																				stroke="#BB6BD9" stroke-width="2"
																				stroke-linecap="round"
																				stroke-linejoin="round"></path>
																			<path d="M19.4487 26.4642L26.495 19.4179"
																				stroke="#BB6BD9" stroke-width="2"
																				stroke-linecap="round"
																				stroke-linejoin="round"></path>
																		</svg>
																	</div>
																	<div class="total-projects ms-3">
																		<h4 class="text-black count text-start">
																			<%= totalSubscriptionRequests %>
																		</h4>
																		<span>
																			Subscription Cancel Requests
																		</span>
																	</div>

																	<div class="d-flex justify-content-end">
																		<a href="/panel/subscription-requests"><i
																				class="fa-solid fa-chevron-right text-white"></i></a>
																	</div>
																</div>

															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 		<div class="container-fluid">
										<div class="card  overflow-hidden">
											<div class="card-header border-0 pb-0 flex-wrap">
												<h4 class="heading mb-0">Google Analytics Dashboard</h4>
											</div>
											<div class="card-body custome-tooltip p-0">

												<div class="row bg-white ">
													<div class="col-lg-4">
														<canvas id="weeklyChart"></canvas>
													</div>
													<div class="col-lg-4">
														<canvas id="monthlyChart"></canvas>
													</div>
													<div class="col-lg-4">
														<canvas id="yearlyChart"></canvas>
													</div>
												</div>
											</div>

										</div>
									</div> -->
									<div class="container-fluid">
										<div class="col-xl-12 col-lg-12">
											<div class="card overflow-hidden">
												<div class="card-header border-0 pb-0 flex-wrap">
													<h4 class="heading mb-0">
														Total Pages Visits
													</h4>
													<ul class="nav nav-pills mix-chart-tab" id="pills-tab"
														role="tablist">
														<li class="nav-item" role="presentation">
															<button class="nav-link active" data-series="week"
																id="pills-week-tab" data-bs-toggle="pill"
																data-bs-target="#pills-week" type="button" role="tab"
																aria-selected="true">Week</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="nav-link" data-series="month"
																id="pills-month-tab" data-bs-toggle="pill"
																data-bs-target="#pills-month" type="button" role="tab"
																aria-selected="false">Month</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="nav-link" data-series="year"
																id="pills-year-tab" data-bs-toggle="pill"
																data-bs-target="#pills-year" type="button" role="tab"
																aria-selected="false">Year</button>
														</li>
														<li class="nav-item" role="presentation">
															<button class="nav-link" data-series="all"
																id="pills-all-tab" data-bs-toggle="pill"
																data-bs-target="#pills-all" type="button" role="tab"
																aria-selected="false">All</button>
														</li>
													</ul>
												</div>
												<div class="card-body custome-tooltip p-0">
													<div id="overviewChart"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<script>
									const groupedLogs = JSON.parse('<%- groupedLogs %>');

									function getChartData(url) {
										if (groupedLogs[url]) {
											return groupedLogs[url].length;
										} else {
											return 0;
										}
									}

									var options = {
										series: [{
											name: 'Number of Visits',
											data: Object.keys(groupedLogs).map(url => getChartData(url))
										}],
										chart: {
											type: 'bar',
											height: 300
										},
										plotOptions: {
											bar: {
												horizontal: false,
												columnWidth: '55%',
												endingShape: 'rounded'
											},
										},
										dataLabels: {
											enabled: false
										},
										stroke: {
											show: true,
											width: 2,
											colors: ['transparent']
										},
										xaxis: {
											categories: Object.keys(groupedLogs),
										},
										yaxis: {
											title: {
												text: 'Number of Visits'
											}
										},
										fill: {
											opacity: 1
										},
										tooltip: {
											y: {
												formatter: function (val) {
													return val + " visits";
												}
											}
										}
									};

									var chart = new ApexCharts(document.querySelector("#overviewChart"), options);
									chart.render();

									$(".mix-chart-tab .nav-link").on('click', function () {
										var seriesType = $(this).attr('data-series');
										var newData = Object.keys(groupedLogs).map(url => getChartData(url));

										chart.updateSeries([{
											name: "Number of Visits",
											data: newData
										}]);
									});
								</script>


								<%- include('./components/footer'); -%>
			</div>

			<%- include('./components/scripts'); -%>