<%- include('../components/head'); -%>

<body>

  <%- include('../components/preloader'); -%>

  <div id="main-wrapper">
    <%- include('../components/nav'); -%>

    <%- include('../components/chatbox'); -%>
    <%- include('../components/header'); -%>


    <%- include('../components/sidebar'); -%>

    <div class="content-body">
      <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">About Add</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="/panel/abouties" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="">About Order</label>
                                    <input type="number" class="form-control input-default " name="order" >
                                </div>
                                <div class="mb-3">
                                    <label for="">About Title</label>
                                    <input type="text" class="form-control input-default " name="title" >
                                </div>
                                <div class="mb-3">
                                    <label for="">About Desctiption</label>
                                    <textarea class="form-txtarea form-control" rows="8" id="comment" name="desc" ></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">About Image</label>
                                    <input class="form-control" type="file" id="formFile" name="img" >
                                  </div>
                                  <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <%- include('../components/footer'); -%>
  </div>
  <%- include('../components/scripts'); -%>