<%- include('../components/head'); -%>

<body>

  <%- include('../components/preloader'); -%>

  <div id="main-wrapper">
    <%- include('../components/nav'); -%>

    <%- include('../components/chatbox'); -%>
    <%- include('../components/header'); -%>

    <%- include('../components/sidebar'); -%>
    <div class="content-body">
      <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Site Add</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                          <form action="/panel/sites" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="">Website Title</label>
                                <input type="text" class="form-control input-default" name="site_title">
                            </div>
                            <div class="mb-3">
                                <label for="">Website Description</label>
                                <input type="text" class="form-control input-default" name="site_desc">
                            </div>
                            <div class="mb-3">
                                <label for="">Website Phone Number</label>
                                <input type="number" class="form-control input-default" name="number">
                            </div>
                            <div class="mb-3">
                                <label for="">Website Email</label>
                                <input type="text" class="form-control input-default" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="">Website Address</label>
                                <input type="text" class="form-control input-default" name="addres">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Google Analytics 4 </label>
                                <textarea name="analytic4" class="form-control"   rows="5"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"> Google Tag Manager </label>
                                <textarea name="tagmanager" class="form-control"   rows="5"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Website Favicon</label>
                                <input class="form-control" type="file" id="formFile" name="fav_icon">
                              </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <%- include('../components/footer'); -%>
  </div>
  <%- include('../components/scripts'); -%>