<%- include('../components/head'); -%>

    <body>
        <%- include('../components/preloader'); -%>
            <div id="main-wrapper">
                <%- include('../components/nav'); -%>
                    <%- include('../components/chatbox'); -%>
                        <%- include('../components/header'); -%>
                            <%- include('../components/sidebar'); -%>
                                <div class="content-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xl-12 col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Iyzico Api</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <% if (successMessage) { %>
                                                            <div class="alert alert-success">
                                                                <%= successMessage %>
                                                            </div>
                                                            <% } %>
                                                                <% if (errorMessage) { %>
                                                                    <div class="alert alert-danger">
                                                                        <%= errorMessage %>
                                                                    </div>
                                                                    <% } %>
                                                                        <div class="basic-form">
                                                                            <form action="/panel/payment" method="post">
                                                                                <div class="row">
                                                                                    <div class="col-lg-6 col-sm-12">
                                                                                        <div class="mb-3">
                                                                                            <label for="">API
                                                                                                Key</label>
                                                                                            <input type="text"
                                                                                                class="form-control input-default"
                                                                                                name="api_key"
                                                                                                value="<%= iyzico ? iyzico.api_key : '' %>"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-sm-12">
                                                                                        <div class="mb-3">
                                                                                            <label for="">Secret
                                                                                                Key</label>
                                                                                            <input type="text"
                                                                                                class="form-control input-default"
                                                                                                name="secret_key"
                                                                                                value="<%= iyzico ? iyzico.secret_key : '' %>"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end">
                                                                                    <div class="mb-3">
                                                                                        <button type="submit"
                                                                                            class="btn btn-whatsapp">Submit</button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xl-12 col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Stripe Api</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <% if (sucessStripe) { %>
                                                            <div class="alert alert-success">
                                                                <%= sucessStripe %>
                                                            </div>
                                                            <% } %>
                                                                <% if (errorStripe) { %>
                                                                    <div class="alert alert-danger">
                                                                        <%= errorStripe %>
                                                                    </div>
                                                                    <% } %>
                                                                        <div class="basic-form">
                                                                            <form action="/panel/payment/stripe"
                                                                                method="post">
                                                                                <div class="row">
                                                                                    <div class="col-lg-6 col-sm-12">
                                                                                        <div class="mb-3">
                                                                                            <label for="">API
                                                                                                Key</label>
                                                                                            <input type="text"
                                                                                                class="form-control input-default"
                                                                                                name="api_key"
                                                                                                value="<%= stripe ? stripe.api_key : '' %>"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-sm-12">
                                                                                        <div class="mb-3">
                                                                                            <label for="">Secret
                                                                                                Key</label>
                                                                                            <input type="text"
                                                                                                class="form-control input-default"
                                                                                                name="secret_key"
                                                                                                value="<%= stripe ? stripe.secret_key : '' %>"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-sm-12">
                                                                                        <div class="mb-3">
                                                                                            <label for="">Subscription
                                                                                                Token</label>
                                                                                            <input type="text"
                                                                                                class="form-control input-default"
                                                                                                name="line_items"
                                                                                                value="<%= stripe ? stripe.line_items : '' %>"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-sm-12">
                                                                                        <div class="mb-3">
                                                                                            <label for="">Mode</label>
                                                                                            <input type="text"
                                                                                                class="form-control input-default"
                                                                                                name="mode"
                                                                                                value="<%= stripe ? stripe.mode : '' %>"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end">
                                                                                    <div class="mb-3">
                                                                                        <button type="submit"
                                                                                            class="btn btn-whatsapp">Submit</button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%- include('../components/footer'); -%>
            </div>
            <%- include('../components/scripts'); -%>
    </body>